# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# PyCharm
.idea/

# Sensitive / secrets
.env
config/service_account_key.json
logs/pipeline.log
DB/oedb_baseline.db
/testing/logs/pipeline.log
/utils/html_viewer_outputs/
/DB/oedb_baseline.db-shm
/DB/oedb_baseline.db-wal
/DB/oedb_baseline_v2.db
