# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# PyCharm
.idea/

# Sensitive / secrets
.env
config/service_account_key.json
logs/pipeline.log
DB/oedb_baseline.db
/testing/logs/pipeline.log
/utils/html_viewer_outputs/
/DB/oedb_baseline.db-shm
/DB/oedb_baseline.db-wal
/DB/oedb_baseline_v2.db
/DB/oedb_baseline_v2.db-shm
/DB/oedb_baseline_v2.db-wal
/DB/oedb_baseline_v3.db
/DB/oedb_baseline_v3.db-shm
/DB/oedb_baseline_v3.db-wal
/evaluate_benchmark_comparison/trainingset/baseline_v3/matched_participants.csv
/data/input_data/benchmark_trainingset.xlsx
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/evaluate_answers-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/evaluate_notegroups-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/evaluate_participants-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/evaluate_participants_exactmatch-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/evaluate_questions-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/map_answers-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/map_participants-checkpoint.ipynb
/evaluate_benchmark_comparison/trainingset/baseline_v3/.ipynb_checkpoints/map_questions-checkpoint.ipynb
/information_collection/.ipynb_checkpoints/information_printing-checkpoint.ipynb
/DB/oedb_refiner_1st.db
